@import 'variables/_colors.styl'
@import 'variables/_sizes.styl'
@import 'variables/_parameters.styl'
@import 'variables/_initiator.styl'
@import 'mixins/_rem.styl'
@import 'mixins/_media.styl'
@import 'mixins/_composer.styl'
+composer(default)
  +composer(button)
    .button
      +composer(button_full-size)
        &--full-size
          display: block
          width: 100%
      +composer(button_outline)
        &--outline
          padding: rem(8px) rem(15px)
          border: rem(1px) base_color solid
          &:hover,
          &:focus
            background-color: base_color
            color: white_color
      +composer(button_rounded)
        &--rounded
          border-radius: rem(500px)
  +composer(inline-list)
    .inline-list
      display: flex
      align-items: center
  +composer(section)
    +composer(section)
      .section
        position: relative
        top: 0
        right: 0
        bottom: 0
        left: 0
        overflow: hidden
        padding-top: rem(300px)
        padding-bottom: rem(300px)
        +composer(section_heading)
          &__heading
            margin-bottom: rem(20px)
            font-size: rem(30px)
        +composer(section_subtitle)
          &__subtitle
            margin-bottom: rem(30px)
            font-size: rem(18px)
        +composer(section_text)
          &__text
            line-height: 1.5
