// [START]

//* Box model level
//----------------------------------------------*/
box-model = true
//

///* Normalize level
//----------------------------------------------*/
normalize = true
//

//* Modular grid level
//----------------------------------------------*/
// See _modular-grid.styl
//

///* Baze level
//----------------------------------------------*/
base = true
//

///* Equalizer level
//----------------------------------------------*/
equalizer = true
//
heading_clear = true
text_clear = true
link_clear = true
list_clear = true
image_auto = true
button_clear = true

///* Default level
//----------------------------------------------*/
default = true
//
button = true
button_full-size = false
button_outline = true
button_rounded = true
inline-list = true
section = true
section_heading = true
section_subtitle = true
section_text = true

///* Common level
//----------------------------------------------*/
common = true
//
sprite-icon = false

///* Special level
//----------------------------------------------*/
special = true
//
page-header = true
navbar = true
app-logo = true
navbar-list = true
slide-out-menu = true // required switch: slide-out-menu_open
menu = true
menu-header = true
menu-list = true
sprite-icon_special = false

///* Animation level
//----------------------------------------------*/
animation = true
//

///* Animator level
//----------------------------------------------*/
animator = true
//

///* Switch level
//----------------------------------------------*/
switch = true
//
page-header_active = true // depends on special: page-header
slide-out-menu_open = true // depends on special: slide-out-menu
navbar_toggle_responsive = false // depends on special: navbar, slide-out-menu
navbar_list_responsive = true

///* Utility level
//----------------------------------------------*/
utility = true
//
text-align = true
text-align_center = true

///* Forced level
//----------------------------------------------*/
forced = true
//
visually-hidden = true

//
// [END]
