/* Media breakpoints
------------------------------------------------*/
// Mobile first (min-width in grid)
media-xs = false // default: 425px
media-sm = 576px // default: 576px
media-md = 768px // default: 768px
media-lg = 992px // default: 992px
media-xl = 1200px // default: 1200px

base_text_font-size = 16px
base_heading_font-size = 24px
