sprite-arrow-left-x = 0
sprite-arrow-left-y = 0
sprite-arrow-left-width = 21px
sprite-arrow-left-height = 44px
sprite-arrow-left = sprite-arrow-left-x sprite-arrow-left-y sprite-arrow-left-width sprite-arrow-left-height
sprite-arrow-right-x = 0
sprite-arrow-right-y = -54px
sprite-arrow-right-width = 21px
sprite-arrow-right-height = 44px
sprite-arrow-right = sprite-arrow-right-x sprite-arrow-right-y sprite-arrow-right-width sprite-arrow-right-height
sprite-butterfly-x = 0
sprite-butterfly-y = -108px
sprite-butterfly-width = 99px
sprite-butterfly-height = 86px
sprite-butterfly = sprite-butterfly-x sprite-butterfly-y sprite-butterfly-width sprite-butterfly-height
sprite-cat-x = 0
sprite-cat-y = -204px
sprite-cat-width = 56px
sprite-cat-height = 48px
sprite-cat = sprite-cat-x sprite-cat-y sprite-cat-width sprite-cat-height
sprite-cloud-x = 0
sprite-cloud-y = -262px
sprite-cloud-width = 81px
sprite-cloud-height = 46px
sprite-cloud = sprite-cloud-x sprite-cloud-y sprite-cloud-width sprite-cloud-height
sprite-cloud3-x = 0
sprite-cloud3-y = -318px
sprite-cloud3-width = 81px
sprite-cloud3-height = 46px
sprite-cloud3 = sprite-cloud3-x sprite-cloud3-y sprite-cloud3-width sprite-cloud3-height
sprite-marker-x = 0
sprite-marker-y = -374px
sprite-marker-width = 79px
sprite-marker-height = 121px
sprite-marker = sprite-marker-x sprite-marker-y sprite-marker-width sprite-marker-height
