extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Brunch
  header.page-header
    .container
      .navbar.page-header__navbar
        a.link.link--clear.app-logo.navbar__logo(href='#about') Brunch
        ul.list.list--clear.inline-list.navbar-list.navbar__list.navbar__list--responsive
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#about') About
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#portfolio') Portfolio
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#contact') Contact
          li.navbar-list__item.navbar-list__item--last
            a.link.link--clear.navbar-list__link(href='#map') Map
        button.button.button--clear.button--outline.navbar__toggle.navbar__toggle--responsive.slide-out-menu-toggle(type='button') Menu
  .slide-out-menu-container
    nav.menu.slide-out-menu
      header.menu-header
        h2.heading.heading--clear.menu__title Navigation
        button.button.button--clear.button--outline.menu__button.menu-header__button.slide-out-menu__toggle Close
      ul.list.list--clear.menu-list
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#about') About
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#portfolio') Portfolio
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#contact') Contact
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#map') Map
    .slide-out-menu-overlay
  main.main
    section#about.section.section--base.about.text-align.text-align--center
      .container
        h2.heading.heading--clear.section__heading.about__heading About
        p.text.text--clear.section__subtitle.about__subtitle About section
        a.link.link--clear.scroll-down(href='#portfolio')
          .scroll-down__icon
          | Scroll
    section#portfolio.section.section--base.portfolio.text-align.text-align--center
      .container
        h2.heading.heading--clear.section__heading.portfolio__heading Portfolio
        p.text.text--clear.section__subtitle.portfolio__subtitle Portfolio section
        a.link.link--clear.scroll-down(href='#contact')
          .scroll-down__icon
          | Scroll to next section
    section#contact.section.section--base.contact.text-align.text-align--center
      .container
        h2.heading.heading--clear.section__heading.contact__heading Contact
        p.text.text--clear.section__subtitle.contact__subtitle Contact section
        a.link.link--clear.scroll-down(href='#map')
          .scroll-down__icon
          | Scroll to Map
    section#map.section.section--base.map.text-align.text-align--center
      .container
        h2.heading.heading--clear.section__heading.map__heading Map
        p.text.text--clear.section__subtitle.map__subtitle Map section
    a.link.link--clear.scroll-up(href='#about')
      .scroll-up__icon
      | To Top
  footer.page-footer
    .container
      p.text.text--clear.copyright-text &copy; Ethcrawford 2018
