extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Brunch
  header.page-header
    .container
      .navbar.page-header__navbar
        a.link.link--clear.app-logo.navbar__logo(href='#') Brunch
        ul.list.list--clear.inline-list.navbar-list.navbar__list.navbar__list--responsive
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#') One link
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#') Two link
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#') Three
          li.navbar-list__item
            a.link.link--clear.navbar-list__link(href='#') Four element
          li.navbar-list__item.navbar-list__item--last
            a.link.link--clear.navbar-list__link(href='#') Five
        button.button.button--clear.button--outline.navbar__toggle.navbar__toggle--responsive.slide-out-menu-toggle(type='button') Menu
  .slide-out-menu-container
    nav.menu.slide-out-menu
      header.menu-header
        h2.heading.heading--clear.menu__title Navigation
        button.button.button--clear.button--outline.menu__button.menu-header__button.slide-out-menu__toggle Close
      ul.list.list--clear.menu-list
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#') One link
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#') Two link
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#') Three
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#') Four element
        li.menu-list__item.menu-list__item--last
          a.link.link--clear.menu-list__link(href='#') Five
    .slide-out-menu-overlay
  main.main
    section.section.section--base.section--border-bottom.home-section.text-align.text-align--center
      .container
        .row
          .col-lg-8.offset-lg-2
            h2.heading.heading--clear.section__heading.home-section__heading Section 1
            p.text.text--clear.section__subtitle.home-section__subtitle Lorem ipsum dolor
        button.button.button--clear.button--outline.scroll-down(type='button') Scroll
    section.section.section--base.section--border-bottom.home-section.text-align.text-align--center
      .container
        .row
          .col-lg-8.offset-lg-2
            h2.heading.heading--clear.section__heading.home-section__heading Section 2
            p.text.text--clear.section__subtitle.home-section__subtitle Lorem ipsum dolor
        button.button.button--clear.button--outline.scroll-down(type='button') Scroll
    section.section.section--base.section--border-bottom.home-section.text-align.text-align--center
      .container
        .row
          .col-lg-8.offset-lg-2
            h2.heading.heading--clear.section__heading.home-section__heading Section 3
            p.text.text--clear.section__subtitle.home-section__subtitle Lorem ipsum dolor
        button.button.button--clear.button--outline.scroll-down(type='button') Scroll
    section.section.section--base.section--border-bottom.home-section.text-align.text-align--center
      .container
        .row
          .col-lg-8.offset-lg-2
            h2.heading.heading--clear.section__heading.home-section__heading Section 4
            p.text.text--clear.section__subtitle.home-section__subtitle Lorem ipsum dolor
  footer.page-footer
    .container
      p.text.text--clear.copyright-text &copy; Ethcrawford 2018
